.project-title {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 42px;
	height: 25vh;
	padding-left: 100px;
}

.project-title::before {
	content: "";
	position: absolute;
	width: 6%;
	height: 5px;
	background-color: var(--primary-color);
	bottom: 7vh;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	margin: 0px 100px 100px 100px;
}
