:root {
	--primary-color: #ffad05;
	--secondary-color: #00a9e11e;
	--third-color: #00a7e1;
	--text-color: #fffffa;
	--background-color: #0c1b33;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

ul li::marker {
	color: var(--primary-color);
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
textarea {
	font: inherit;
	all: unset;
}

img,
video {
	max-width: 100%;
	display: block;
}
